<!DOCTYPE html>
<div class="widget-shadow"></div>
<div class="dashboard-widget-view">
    <div class="btn-group header">
        <span class="glyphicon <%=glyphicon%>"></span>
        <span class="tool-name"><%= name %></span>
        <span><button type="button" class="dashboard-widget-close win-control" aria-label="Close">&times;</button></span>
        <span><button type="button" class="open win-control">&ndash;</button></span>
    </div>
    <div id="content"></div>
</div>
<div class="buffer">
    <% if (scalable) { %>
        <div class="drag"><span class="drag glyphicon glyphicon-option-horizontal"></span></div>
    <% } %>
</div>